.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  min-height: 421px;
  background-image: url("../images/1054302.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 421px;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 421px;
  background-image: url("../images/456220.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 421px;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-3 {
  min-height: 421px;
  background-image: url("../images/1175445.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 421px;
}

.u-section-1 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 347px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-1 .u-image-2 {
    min-height: 347px;
  }

  .u-section-1 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 347px;
  }

  .u-section-1 .u-image-3 {
    min-height: 347px;
  }

  .u-section-1 .u-layout-cell-6 {
    background-position: 50% 50%;
    min-height: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-1 .u-image-1 {
    min-height: 266px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 266px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    min-height: 266px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1904px;
  }

  .u-section-1 .u-image-1 {
    min-height: 599px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 599px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 599px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-1 .u-image-1 {
    min-height: 377px;
  }

  .u-section-1 .u-image-2 {
    min-height: 377px;
  }

  .u-section-1 .u-image-3 {
    min-height: 377px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 850px;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-1 {
  height: 750px;
  width: 100%;
  margin: 50px 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 354px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-3 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1462px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
  min-height: 1403px;
  grid-gap: 17px 17px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  transition-duration: 0.5s;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-2 {
  transition-duration: 0.5s;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-3 {
  transition-duration: 0.5s;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-list-item-4 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-image-4 {
  height: 213px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-4 {
  transition-duration: 0.5s;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-list-item-5 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-4 .u-image-5 {
  height: 213px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-5 {
  transition-duration: 0.5s;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-4 .u-list-item-6 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-4 .u-image-6 {
  height: 213px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-6 {
  transition-duration: 0.5s;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px);
    min-height: 1159px;
  }

  .u-section-4 .u-image-1 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 8.49997px) calc(50% - 8.49997px);
  }

  .u-section-4 .u-image-1 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 217px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 217px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 217px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 217px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 217px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    height: 217px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-4 .u-btn-3,
.u-section-4 .u-btn-3:before,
.u-section-4 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-3.u-btn-3.u-btn-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-btn-3.u-btn-3.u-btn-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-btn-2,
.u-section-4 .u-btn-2:before,
.u-section-4 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-btn-4,
.u-section-4 .u-btn-4:before,
.u-section-4 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-4.u-btn-4.u-btn-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-btn-4.u-btn-4.u-btn-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-btn-5,
.u-section-4 .u-btn-5:before,
.u-section-4 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-5.u-btn-5.u-btn-5:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-btn-5.u-btn-5.u-btn-5.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-btn-6,
.u-section-4 .u-btn-6:before,
.u-section-4 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-6.u-btn-6.u-btn-6:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-btn-6.u-btn-6.u-btn-6.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-55:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-55:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-55:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-55:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-55:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-55:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-55:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-55:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-55:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-61:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-61:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-61:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-61:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-61:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-61:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-61:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-61:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-67:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-67:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-67:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-67:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-67:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-67:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-73:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-73:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-73:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-73:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-73:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-73:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-79:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-79:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-79:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-79:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-79:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-79:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-85:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-85:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-85:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-85:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-85:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-85:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-85:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-85:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-85:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-91:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-91:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-91:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-91:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-91:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-91:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-91:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-91:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-91:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-97:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-97:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-97:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-97:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-97:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-97:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-97:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-97:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-97:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-6,
.u-section-4 .u-image-6:before,
.u-section-4 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-6.u-image-6.u-image-6:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-6.u-image-6.u-image-6.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-6 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-section-4 .u-image-6 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-2,
.u-section-4 .u-image-2:before,
.u-section-4 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-section-4 .u-image-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-3,
.u-section-4 .u-image-3:before,
.u-section-4 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-section-4 .u-image-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-4,
.u-section-4 .u-image-4:before,
.u-section-4 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-4.u-image-4.u-image-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-4.u-image-4.u-image-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-4 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-section-4 .u-image-4 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-5,
.u-section-4 .u-image-5:before,
.u-section-4 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-5.u-image-5.u-image-5:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-image-5.u-image-5.u-image-5.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-5 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-section-4 .u-image-5 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-52:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-52:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-52:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-52:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-52:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-52:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-52:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-52:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-52:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout:hover .u-block-f5dd-52:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-block-f5dd-52:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-58:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-58:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-58:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-58:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-58:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-58:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-58:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-58:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-58:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout:hover .u-block-f5dd-58:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-block-f5dd-58:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-64:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-64:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-64:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-64:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-64:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-64:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-64:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-64:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-64:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout:hover .u-block-f5dd-64:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-block-f5dd-64:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-70:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-70:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-70:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-70:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-70:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-70:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-70:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-70:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-70:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout:hover .u-block-f5dd-70:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-block-f5dd-70:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-76:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-76:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-76:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-76:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-76:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-76:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-76:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-76:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-76:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout:hover .u-block-f5dd-76:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-block-f5dd-76:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-82:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-82:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-82:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-82:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-82:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-82:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-82:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-82:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-82:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout:hover .u-block-f5dd-82:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-block-f5dd-82:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-88:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-88:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-88:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-88:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-88:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-88:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-88:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-88:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-88:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout:hover .u-block-f5dd-88:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-block-f5dd-88:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-94:not([data-block-selected]):not([data-cell-selected]),
.u-block-f5dd-94:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-f5dd-94:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-f5dd-94:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-94:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-94:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-block-f5dd-94:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-94:not([data-block-selected]):not([data-cell-selected]).u-block-f5dd-94:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout:hover .u-block-f5dd-94:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-block-f5dd-94:not([data-block-selected]):not([data-cell-selected]) {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 683px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 100%;
  margin: 40px 0 -56px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 543px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 543px;
}

.u-section-5 .u-container-layout-2 {
  padding: 40px 38px 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 1px 2px 0;
}

.u-section-5 .u-list-1 {
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 383px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-5 .u-icon-1 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: -29px 0 0 49px;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 15px 0;
}

.u-section-5 .u-icon-3 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  margin: -29px 0 0 49px;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  margin: 21px 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 15px 0;
}

.u-section-5 .u-icon-4 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  margin: -29px 0 0 49px;
}

.u-section-5 .u-text-7 {
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-5 .u-icon-1 {
    padding: 0;
  }

  .u-section-5 .u-icon-3 {
    padding: 0;
  }

  .u-section-5 .u-icon-4 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}